<!--
	Barra padrão do Bootstrap

	https://getbootstrap.com/docs/4.6/components/navbar/
-->

<nav class="navbar navbar-light">
	<a class="navbar-brand" href="/" style="color:rgb(236, 229, 243)">
		Safer House
	</a>

	<button class="navbar-toggler" style="color: rgb(255, 255, 255);" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Alternar navegação">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarToggler">
		<div class="navbar-nav">
			<a class="nav-link" style="color: rgb(255, 255, 255);" href="/pessoas">Relatório por Pessoa</a>
			<a class="nav-link" style="color: rgb(255, 255, 255);" href="/sobre">Sobre</a>
		</div>
	</div>
</nav>
<style>
	.navbar-light{
		background-color: #000000;
		border-bottom: 0;
		font-family: Arial, Helvetica, sans-serif;
	}
	.nav-link{
		color:rgb(236, 229, 243)
		
	}
	
</style>